.top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: gainsboro;
}
img {
    padding-right: 5px;
}
p {
    font-size: 30px;
    font-family: monospace;
    font-style: italic;
}
h1 {
    font-size: 80px;
}
.columns {
    font-size: 100px;
}
h3 {
    font-size: 60px;
}
.fas fa-wind {
    font-size: 15px;
}
.columns {
    display: flex;
    flex-direction: column;
    background-color:
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color:
  }
  
  .flex-container > div {
    margin: 10px;
    margin-left: 190px;
    text-align: center;
    line-height: 90px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px; 
    width: 550px;
    height: 200px;  
    justify-content: center;
    align-content: center;
  }