.top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: gainsboro;
}
img {
    padding-right: 5px;
}
p {
    font-size: 35px;
    font-family: monospace;
    font-style: italic;
}
h1 {
    font-size: 95px;
}
.columns {
    font-size: 100px;
}
h3 {
    font-size: 60px;
}
.fas fa-wind {
    font-size: 15px;
}
  .flex-container {
    display: flex;
    flex-direction: column;
    background-color:
  }
  
  .flex-container > div {
    margin: 13px;
    margin-left: 190px;
    margin-bottom: 45;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
    line-height: 70px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px; 
    width: 560px;
    height: 250px;   
  }
 footer {
     background-color: gainsboro;
     text-align: center;
     height: 80px;
     font-size: 60px;
     padding: 5px;

 }