.top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: gainsboro;
}
img {
    padding-right: 5px;
}
p {
    font-size: 45px;
    font-family: 'Bebas Neue';
}
h1 {
    font-size: 95px;
    font-family: 'Bebas Neue';
}
.columns {
    font-size: 100px;
}
h3 {
    font-size: 60px;
}
.fas fa-wind {
    font-size: 15px;
}
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  
  .flex-container > div {
    margin: 13px;
    margin-left: 190px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    line-height: 70px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px; 
    width: 560px;
    height: 350px;   
  }
 footer {
     background-color: gainsboro;
     text-align: center;
     height: 190px;
     font-size: 60px;
     padding: 5px;
     position: absolute;
     bottom: 0px;
     top: 2500px;
 }

 @media screen and (min-width: 768px) {

 }

 ul {
     list-style-type: none;
 }

 .dropbtn {
    background-color: gray;
    color: white;
    padding: 16px;
    font-size: 40px;
    border: none;
    margin-left: 0px;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
  }
  
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropup-content a:hover {background-color: #ccc}
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    background-color: gray;
  }
  .one {
    position: absolute;
    top: 1575px;
  }
  .two {
    position: absolute;
    top: 2000px;
  }
  .three {
    position: absolute;
    top: 1150px;
  }
  .ball {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: orangered;
    color: transparent;
    margin-left: -10px;
    margin-top: 15px;
   }

   /* for the umbrella component*/
   .component{
    width: 200px;
    height: 200px;
    background-color: darkgray;
    position: relative;
    border-radius: 90%;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    
}
    
.inner{
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 90%;
    align-self: center;
    
}
.red {
  width: 20px;
    height: 20px;
    background-color: #DD2C00;
    border-radius: 90%;
    position: absolute;
    bottom: 222px;
    left: 170px;
}
.umbrella {
  position: absolute;
  left: 240px;
  top: 155px;
  font-size: 100px;
}
.percent {
  position: absolute;
  left: 300px;
  top: 175px;
  font-size: 60px;
}
.i1 {
  position: absolute;
  left: 220px;
  top: 60px;
  font-size: 20px;
}
.i2 {
  position: absolute;
  left: 255px;
  top: 95px;
  font-size: 20px;
}
.i3 {
  position: absolute;
  left: 260px;
  top: 135px;
  font-size: 20px;
}
.i4 {
  position: absolute;
  left: 253px;
  top: 173px;
  font-size: 20px;
}
.i5 {
  position: absolute;
  left: 225px;
  top: 205px;
  font-size: 20px;
}
.i6 {
  position: absolute;
  left: 175px;
  top: 220px;
  font-size: 20px;
}
.i7 {
  position: absolute;
  left: 125px;
  top: 205px;
  font-size: 20px;
}
.i8 {
  position: absolute;
  left: 95px;
  top: 173px;
  font-size: 20px;
}
.i9 {
  position: absolute;
  left: 87px;
  top: 135px;
  font-size: 20px;
}
.i10 {
  position: absolute;
  left: 87px;
  top: 95px;
  font-size: 20px;
}
.o1 {
  position: absolute;
  left: 240px;
  top: 30px;
  font-size: 30px;
}
.o2 {
  position: absolute; 
  left: 280px;
  top: 75px;
  font-size: 30px;
}
.o3 {
  position: absolute;
  left: 290px;
  top: 130px;
  font-size: 30px;
}
.o4 {
  position: absolute; 
  left: 275px;
  bottom: 65px;
  font-size:30px;
}
.o5 {
  position: absolute;
  left: 235px;
  bottom: 20px;
  font-size: 30px;
}
.o6 {
  position: absolute;
    top: 250px;
    left: 165px;
    font-size: 30px;
}
.o7 {
  position: absolute;
  left: 90px;
  bottom: 20px;
  font-size: 30px;
}
.o8 {
  position: absolute; 
  left: 45px;
  bottom: 65px;
  font-size: 30px;
}
.o9 {
  position: absolute;
  left: 35px;
  top: 130px;
  font-size: 30px;
}
.o10 {
  position: absolute; 
  left: 40px;
  top: 75px;
  font-size: 30px;
}

/* for the temp component*/
.component{
  width: 200px;
  height: 200px;
  background-color: darkgray;
  position: relative;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  margin-left: 70px;
  
}
  
.inner{
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 90%;
  align-self: center;
  
}
.red {
width: 20px;
  height: 20px;
  background-color: #DD2C00;
  border-radius: 90%;
  position: absolute;
  bottom: 222px;
  left: 170px;
}
.i1 {
position: absolute;
left: 220px;
top: 60px;
font-size: 20px;
}
.i2 {
position: absolute;
left: 255px;
top: 95px;
font-size: 20px;
}
.i3 {
position: absolute;
left: 260px;
top: 135px;
font-size: 20px;
}
.i4 {
position: absolute;
left: 253px;
top: 173px;
font-size: 20px;
}
.i5 {
position: absolute;
left: 225px;
top: 205px;
font-size: 20px;
}
.i6 {
position: absolute;
left: 175px;
top: 220px;
font-size: 20px;
}
.i7 {
position: absolute;
left: 125px;
top: 205px;
font-size: 20px;
}
.i8 {
position: absolute;
left: 95px;
top: 173px;
font-size: 20px;
}
.i9 {
position: absolute;
left: 87px;
top: 135px;
font-size: 20px;
}
.i10 {
position: absolute;
left: 87px;
top: 95px;
font-size: 20px;
}
.o1 {
position: absolute;
left: 240px;
top: 30px;
font-size: 30px;
}
.o2 {
position: absolute; 
left: 280px;
top: 75px;
font-size: 30px;
}
.o3 {
position: absolute;
left: 290px;
top: 130px;
font-size: 30px;
}
.o4 {
position: absolute; 
left: 275px;
bottom: 65px;
font-size:30px;
}
.o5 {
position: absolute;
left: 235px;
bottom: 20px;
font-size: 30px;
}
.o6 {
position: absolute;
  top: 250px;
  left: 165px;
  font-size: 30px;
}
.o7 {
position: absolute;
left: 90px;
bottom: 20px;
font-size: 30px;
}
.o8 {
position: absolute; 
left: 45px;
bottom: 65px;
font-size: 30px;
}
.o9 {
position: absolute;
left: 35px;
top: 130px;
font-size: 30px;
}
.o10 {
position: absolute; 
left: 40px;
top: 75px;
font-size: 30px;
}
.symbol {
position: absolute;
left: 250px;
bottom: 150px;
font-size: 90px;
}

/* for precip component*/

.component{
  width: 275px;
  height: 275px;
  background-color: darkgray;
  position: relative;
  border-radius: 90%;
  display: flex;
  justify-content: center;
  margin-left: 140px;
  margin-top: 40px;
  
}
  
.inner{
  width: 215px;
  height: 215px;
  background-color: #fff;
  border-radius: 90%;
  align-self: center;
  
}
.red {
width: 30px;
  height: 30px;
  background-color: #DD2C00;
  border-radius: 90%;
  position: absolute;
  bottom: 305px;
  left: 285px;
}
.i1 {
position: absolute;
left: 350px;
top: 55px;
font-size: 30px;
}
.i2 {
position: absolute;
left: 400px;
top: 95px;
font-size: 30px;
}
.i3 {
position: absolute;
left: 415px;
top: 160px;
font-size: 30px;
}
.i4 {
position: absolute;
left: 395px;
top: 225px;
font-size: 30px;
}
.i5 {
position: absolute;
left: 355px;
top: 270px;
font-size: 30px;
}
.i6 {
position: absolute;
left: 285px;
top: 290px;
font-size: 30px;
}
.i7 {
position: absolute;
left: 220px;
top: 270px;
font-size: 30px;
}
.i8 {
position: absolute;
left: 180px;
top: 225px;
font-size: 30px;
}
.i9 {
position: absolute;
left: 165px;
top: 160px;
font-size: 30px;
}
.i10 {
position: absolute;
left: 175px;
top: 95px;
font-size: 30px;
}
.o1 {
position: absolute;
left: 365px;
top: 15px;
font-size: 40px;
}
.o2 {
position: absolute; 
left: 430px;
top: 80px;
font-size: 40px;
}
.o3 {
position: absolute;
left: 450px;
top: 160px;
font-size: 40px;
}
.o4 {
position: absolute; 
left: 435px;
top: 245px;
font-size: 40px;
}
.o5 {
position: absolute;
left: 375px;
bottom: 10px;
font-size: 40px;
}
.o6 {
position: absolute;
  top: 330px;
  left: 275px;
  font-size: 40px;
}
.o7 {
position: absolute;
left: 170px;
bottom: 10px;
font-size: 40px;
}
.o8 {
position: absolute; 
left: 115px;
top: 245px;
font-size: 40px;
}
.o9 {
position: absolute;
left: 100px;
top: 160px;
font-size: 40px;
}
.o10 {
position: absolute; 
left: 115px;
top: 80px;
font-size: 40px;
}

#background {
  background-size: cover;
 }

 .flex-container {
   background-image: url("/weathersite/images/weatherimg/clouds.jpg"); 
   background-repeat: no-repeat;
   background-size: cover;
   height: 1700px;
 }
 .clear {
  background-image: url("/weathersite/images/weatherimg/clear.jpg");
}

.clouds {
  background-image: url("/weathersite/images/weatherimg/clouds.jpg");
}
 
.fog {
  background-image: url("/weathersite/images/weatherimg/fog.jpg");
}

.rain {
  background-image: url("/weathersite/images/weatherimg/rain.jpg");
}

.snow {
 background-image: url("/weathersite/images/weatherimg/snow.jpg");
}
 .highlow {
   font-size: 90px;
 }

 .hide {
   display: none;
 }